[include]
    path = ~/.gitconfig.local

[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
